<h1>Class Goal</h1>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="70"
         aria-valuemin="0" aria-valuemax="100" style="width:{{classMasteryPercent}}%">
        Class Mastery {{classMasteryPercent}}%
    </div>
</div>

{{#if model}}
    <h3>Leaderboard</h3>
    <ol>
        {{#each}}
            <li>{{name}} ({{team}}) {{masteryAsPercent}}%</li>
        {{/each}}
    </ol>
{{/if}}


<h2 class="alert alert-info">Goto <span class="url">http://gamify.divshot.io/</span> to join the game</h2>