<div>
    <div class="row">
        <div class="col-md-3">
            <h2>{{player.name}}</h2>
            <h3>{{player.team}}</h3>
            <p>Questions correct:
            {{player.right}} / 10 to win candy
            </p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style="width:{{player.masteryAsPercent}}%">
                    Mastery {{player.masteryAsPercent}}%
                </div>
            </div>

            <div>
                {{render "leaderboard"}}
            </div>
        </div>
        <div class="col-md-9">
            {{render "achievements"}}
            <br/><br/>

            <div {{bind-attr class="isAnswered:answered"}}>

                <h1>{{currentQuestion.question}}</h1>

                <p>
                <ul class="choices">
                    <li><button {{action "answerQuestion" "a"}}>A: {{currentQuestion.a}}</button></li>
                    <li><button {{action "answerQuestion" "b"}}>B. {{currentQuestion.b}}</button></li>
                    <li><button {{action "answerQuestion" "c"}}>C. {{currentQuestion.c}}</button></li>
                    <li><button {{action "answerQuestion" "d"}}>D. {{currentQuestion.d}}</button></li>
                </ul>
                </p>

            </div>
        </div>
    </div>


    {{#if isAnswered}}
        <div class="backdrop-skim">
            {{#if isWrong}}
                <div class="alert alert-danger" role="alert">Incorrect!</div>
            {{else}}
                <div class="alert alert-success" role="alert">Correct!</div>
            {{/if}}
        </div>
    {{/if}}

</div>