{{outlet}}

{{player.name}}<br/>
{{player.team}}<br/>

<div class=" row">
    <div class="col-md-2">
        {{render "leaderboard"}}
    </div>

    <div class="col-md-10">
        Acheivements
        <ul>
            <li>badge 1</li>
            <li>badge 2</li>
            <li>badge 3</li>
        </ul>
        {{outlet "acheivements"}}
    </div>
</div>

<div>
    <p>
        Question?
    </p>
    <p>
        What is the Motivation composed of?
    </p>
    <p>
        <ul>
            <li>A. Candy</li>
            <li>C. Bacon</li>
            <li>C. Turkey</li>
        </ul>
    </p>

</div>