<div>
    <div class="row">
        <div class="col-md-3">
            {{player.name}}<br/>
            {{player.team}}<br/>
            Questions correct:<br/>
            {{player.right}}/ 10 needed for prize<br/>
            Mastery: {{player.percentMastery}}%<br/>

            <div>
                {{render "leaderboard"}}
            </div>
        </div>
        <div class="col-md-9">
            {{render "achievements"}}
            <br/><br/>

            <div {{bind-attr class="isAnswered:answered"}}>

                <h1>{{currentQuestion.question}}</h1>

                <p>
                <ul class="choices">
                    <li {{action "answerQuestion" "a"}}>A: {{currentQuestion.a}}</li>
                    <li {{action "answerQuestion" "b"}}>B. {{currentQuestion.b}}</li>
                    <li {{action "answerQuestion" "c"}}>C. {{currentQuestion.c}}</li>
                    <li {{action "answerQuestion" "d"}}>D. {{currentQuestion.d}}</li>
                </ul>
                </p>

            </div>
        </div>
    </div>


    {{#if isAnswered}}
        <div class="backdrop-skim">
            {{#if isWrong}}
                <div class="alert alert-danger" role="alert">Incorrect!</div>
            {{else}}
                <div class="alert alert-success" role="alert">Correct!</div>
            {{/if}}
        </div>
    {{/if}}

</div>